*.pem
*.key
*.o
*.ignore
# Merge files created by git.
*.orig
# vim swap files
.*.swp
.sw?
spell/
cscope.out
# Mac
.DS_Store
DerivedData
# KDE Dolphin
.directory
CMakeCache.txt
CMakeFiles
eclim/
pacman_packages/
cache/
plugged/
# nvim version manager
lazy-lock.json
# zsh compiled bytecode
*.zwc
*.bak
*.csed
__pycache__
zsh/plugins
fonts/FontPatcher/
FontPatcher.zip
