[submodule "terminal/zsh/zsh/plugins/zsh-completions"]
	path = terminal/zsh/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
    ignore = dirty
[submodule "terminal/zsh/zsh/plugins/fast-syntax-highlighting"]
	path = terminal/zsh/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
    ignore = dirty
[submodule "terminal/zsh/zsh/plugins/zsh-vi-mode"]
	path = terminal/zsh/zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode
    ignore = dirty
[submodule "terminal/zsh/zsh/plugins/zsh-nvm"]
	path = terminal/zsh/zsh/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm.git
    ignore = dirty
