[submodule "vim.config/vim/bundle/vim-ruby"]
	path = vim.config/vim/bundle/vim-ruby
	url = git@github.com:gregstula/vim-ruby.git
[submodule "vim.config/vim/bundle/vim-elixir"]
	path = vim.config/vim/bundle/vim-elixir
	url = git@github.com:gregstula/vim-elixir.git
[submodule "vim.config/vim/bundle/vim-go"]
	path = vim.config/vim/bundle/vim-go
	url = git@github.com:gregstula/vim-go.git
[submodule "vim.config/vim/bundle/vim-swift"]
	path = vim.config/vim/bundle/vim-swift
	url = git@github.com:gregstula/vim-swift.git
[submodule "vim.config/vim/bundle/vim-markdown"]
	path = vim.config/vim/bundle/vim-markdown
	url = git@github.com:gregstula/vim-markdown.git
[submodule "vim.config/vim/bundle/vim-objc"]
	path = vim.config/vim/bundle/vim-objc
	url = git@github.com:gregstula/vim-objc.git
[submodule "vim.config/vim/bundle/vim-erlang-runtime"]
	path = vim.config/vim/bundle/vim-erlang-runtime
	url = git@github.com:gregstula/vim-erlang-runtime.git
[submodule "vim.config/vim/bundle/vim-cpp-enhanced-highlight"]
	path = vim.config/vim/bundle/vim-cpp-enhanced-highlight
	url = git@github.com:gregstula/vim-cpp-enhanced-highlight.git
[submodule "vim.config/vim/bundle/vim-indent-guides"]
	path = vim.config/vim/bundle/vim-indent-guides
	url = git@github.com:gregstula/vim-indent-guides.git
[submodule "vim.config/vim/bundle/vim-json"]
	path = vim.config/vim/bundle/vim-json
	url = git@github.com:gregstula/vim-json.git
[submodule "vim.config/vim/bundle/gitv"]
	path = vim.config/vim/bundle/gitv
	url = git@github.com:gregstula/gitv.git
